* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.typewriter-container p {
  /* border: 1px solid red; */
  /* flex-basis: auto; */
  display: inline-block;
}

.caret {
  animation: blink-caret 0.7s infinite;
}

@keyframes blink-caret {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

footer {
  display: flex;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 20px;
}
